*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}

/* *************** TOP PANEL STYLES *************** */
#blue-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #1F2937;
}

.header{
    display: flex;
    margin-top: 10px;
    width: 100%;
}

#header-logo{
    font-size: 24px;
    color: #F9FAF8;
    min-width: 150px;
    flex-basis: 100%;
    font-weight: bold;
}

#header-links{
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

#header-links li{
    font-size: 18px;
    color: #F9FAF8;
}

#blue-panel-content{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    flex-wrap: wrap-reverse;

}

.hero-text{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    max-width: 620px;

}

.hero-secondary-text{
    font-size: 18px;
    color: #F9FAF8;
    max-width: 620px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

#blue-panel-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#blue-panel-text h1{
    font-size: 50px;
    text-align: center;
}

#sign-up-button-top{
    background-color: #3882F6;
    color: white;
    padding: 5px;
    max-width: 75px;
    border-radius: 5px;
    border-style: none;
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 5px;
}

#blue-panel-image-container{
    max-width: 700px;
    min-width: 400px;
    flex: 4;
    text-align: center;
}

#blue-panel-image-container img{
    max-width: 100%;
    border-radius: 10px;
}

/* *************** WHITE PANEL STYLES ****************/
#white-panel-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;;
}

#white-panel-title{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    margin-bottom: 30px;
}

#white-panel-pictures{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    width: 80%;
    flex-wrap: wrap;
}

#white-panel-pictures div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* PICTURE SIZES */
#white-panel-pictures div img{
    width: 100px;
    border: 2px #3882F6 solid;
    border-radius: 5px;
}

.image-subtext{
    text-align: center;
    width: 100px;
    white-space: normal;
}



/* *************** GREY PANEL STYLES ***************  */
#grey-panel{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding-top:30px;
    padding-bottom: 30px;
}

.grey-panel-content{
    display: flex;
    width:60%;
    flex-direction: column;
}

.thor-quote{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.thor{
    font-size:x-large;
    align-self: flex-end;
}


/* *************** FOOTER PANEL STYLES *************** */
#footer-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 15% 50px 15%;
}

#blue-footer-panel{
    background-color: #3882F6;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    padding: 25px;
    border-radius: 10px;
}

#bottom-blue-panel-text{
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    width: 500px;
    flex-basis: 100%;
    align-items:flex-start;
}

#call-to-action{
    color: #E5E7EB;
}

#bottom-button{
    background-color: #3882F6;
    border: 1px white solid;
    color: white;
    padding: 5px;
    min-width: 80px;
    border-radius: 10px;
    border-color: #F9FAF8;
    max-height: 30px;
    align-self: center;
}


